<div class="event">
  <div class="label">
    <i class="user circle icon purple"></i>
  </div>
  <div class="content">
    <div class="summary">
      <strong><%= message.user.username %></strong>
      <div class="date"><%= message.created_at.strftime("%H:%M") %></div>
    </div>
    <div class="extra text">
      <%= message.body %>
    </div>
  </div>
</div>
