<div class="ui container" style="margin-top: 50px;">
  <h2 class="ui center aligned header">
    Welcome to <strong>MessageMe</strong> - <em>a complete Chat App</em>
  </h2>

  <div class="ui center aligned basic segment" style="padding-top: 30px;">
    <i class="circular inverted purple power icon huge"></i>
    <h3 class="ui header">Log in to continue</h3>
  </div>

  <div class="ui raised very padded segment">
    <div class="ui stackable grid">
      <div class="ui vertical divider">OR</div>

      <div class="eight wide column">
        <form class="ui form">
          <div class="field">
            <label>Username</label>
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="Username">
            </div>
          </div>

          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>

          <button class="ui purple button" type="submit">Login</button>
        </form>
      </div>

      <div class="eight wide column center aligned">
        <br><br><br>
        <a href="/signup" class="ui huge purple basic button">
          <i class="edit outline icon"></i>
          Sign Up
        </a>
      </div>
    </div>
  </div>
</div>
