@import 'semantic-ui';

.chatbox {
  height: 450px !important;
}
.ui.segment {
  max-width: 850px;
  margin: 0 auto;
}


#messages {
  height: 15em;
  overflow: auto;
}
.input {
  button {
    display:none;
  }
}